body {
	background-color: #000;
	background-image: url('/retro/background.gif');
	color: #fff;

	font-family: 'Comic Sans MS', cursive;
	overflow: auto;
}

@font-face {
	font-family: 'Comic Sans MS';
	src: url(/retro/comicsans.ttf) format('truetype');
}

a,
/* these are necessary for ie5 */
a:link,
a:visited,
a:hover,
a:active {
	color: #ffffff;
}

img {
	/* very old browsers add borders to images */
	border: none;
}

:global(h2) {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
