body,
#page {
	background: #000000 url(/retro/background.gif);
	color: #ffffff;

	font-family: 'Comic Sans MS', cursive !important;
	overflow: auto;

	background-attachment: local;
}

#page p:after,
#page li:after {
	content: ' :3';
}

@font-face {
	font-family: 'Comic Sans MS';
	src: url(/retro/comicsans.ttf) format('truetype');
}
@font-face {
	font-family: 'Press Start 2P';
	src: url(/retro/pressstart2p.ttf) format('truetype');
}

:root {
	--background-color-alt: rgba(255, 255, 255, 0.05) !important;
}

a,
/* these are necessary for ie5 */
a:link,
a:visited,
a:hover,
a:active {
	color: #ffffff !important;
}

img {
	/* very old browsers add borders to images */
	border: none;
}

h2 {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

#main-title:after {
	content: 'silly edition';
	display: block;
	font-size: 1rem;
	opacity: 0.5;
	margin-top: -0.5em;
}
