---
title: this is a test post
published: 2022-06-27
---

<script lang="ts">
	import Thing from './Thing.svelte'
	import { onMount } from 'svelte'

	onMount(() => {
		console.log('asdf')
	})
</script>

<b>this is a test post</b>

<Thing />

# this is a title

![an image](favicon.png)

<style>
	b {
		color: blue;
	}
</style>
