body {
	background-color: #000;
	background-image: url('/old/background.gif');
	color: #fff;

	font-family: 'comic sans ms', 'Comic Sans MS', 'Comic Sans', cursive;
	overflow: auto;
}

a {
	color: #fff;
}
