body {
	background-color: #000;
	background-image: url('/old/background.gif');
	color: #fff;

	font-family: 'comic sans ms', cursive;
	overflow: auto;
}

@font-face {
	font-family: 'comic sans ms';
	font-style: normal;
	src: url(/old/comicsans.ttf) format('ttf');
}

a {
	color: #fff;
}
