body {
	background-color: #1e1e2e;
	color: #cdd6f4;
	/* serif is chosen intentionally as it makes the website look worse */
	font-family: serif;
	margin: 0.5rem;
}

input,
button,
select {
	background-color: #313244;
	color: #cdd6f4;
	border: 1px solid #9399b2;
	border-radius: 4px;
	padding: 0.25em;
}

button {
	cursor: pointer;
}

a {
	color: #89b4fa;
}

.button {
	width: 88px;
	height: 31px;
	image-rendering: pixelated;
}
